.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 26px;
    width: 20%;
    height: 150px;
    background-color: rgb(74, 67, 80);
    border-radius: 5px;
    outline: 1px solid black;
    outline-offset: 1px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.card:not(:nth-child(4n)) {
    margin-right: 30px;
}

.open {
    color: orange;
    background-color: purple;
}

.success {
    background-color: green;
}

.card.open .image {
    display: block;
}

.image {
    display: none;
    width: 100%;
    height: 100%;
}